* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: rgba(17, 200, 237, 0.75);
    display: flex;
    align-items: center;
    height: 50px;
}

#navbar img {
    height: 20px;
    width: 20px;
}

#logout {
    margin-left: auto;
}

#dropdown-logout {
    background-color: rgba(17, 200, 237, 0.75);
}

#logout a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logout button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navbar ul {
    overflow: hidden;
}

.nav li a{
    color: black;
    font-weight: bold;
}

#search-container .row{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#search-container #search {
    width: 600px;
    padding: 5px;
    justify-content: center;
    border-radius: 0.4rem 0 0 0.4rem;
    border-right: 0cm;
}

#search-btn {
    padding: 5px;
    border-radius: 0 0.4rem 0.4rem 0;
}

#detail-btn {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

#header-user-regis, #header-shop-regis {
    padding-top: 10px;
}

/* style view pendaftaran/user.blade.php */
#header-user-regis {
    text-align: center;
}

#user-regis {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-user-regis {
    border: solid 1px black;
    border-radius: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

#form-user-regis form {
    margin: 20px;
    min-height: 400px;
}

#btn-group-user {
    display: flex;
    flex-direction: row-reverse;
}

#back-user-regis-btn {
    margin-right: 10px;
}

#back-user-regis-btn a {
    text-decoration: none;
    color: white;
}

/* style view login */
#form-login {
    border: solid 1px;
    border-radius: 0.5rem;
    background-color: aqua;
}

#wrapper-form-login {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}

#form-login form {
    margin: 20px 0;
    align-items: center;
}

#form-login h1 {
    text-align: center;
    margin-top: 5px;
}

/* style untuk halaman profile */
#photo-profile img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
}

#input-file-btn {
    position: absolute;
    bottom: -10px;
    right: 67px;
}

#profile-wrapper {
    margin: 0 0 20px 0;
    min-height: 500px;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

#group-btn-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-right: 180px;
}

#group-btn-profile button{
    height: 50px;
    width: 100px;
    margin: 10px;
}

#profile-wrapper .col-4 {
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    /* border: solid 1px black; */
    margin-right: 20px;
}

#photo-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#profile-datas .input-group-text {
    width: 130px;
}

#profile-datas .card {
    text-align: center;
}

/* style untuk halaman admin */
#wrapper-admin-content {
    margin-bottom: 50px;
    height:450px;
    background-color: aqua;
}

#admin-sidebar {
    width: 200px;
    height: 100px;
    background-color: #00118f;
    float: left;
}

/* Style untuk halaman detail barang */
#wrapper-detail-barang {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: aqua;
}

#col-barang {
    display: flex;
    flex-direction: column;
}

#detail-barang .input-group-text {
    width: 120px;
}

#detail {
    overflow-y: scroll;
    width: 100%;
}

#back-detail-barang-btn {
    float: right;
    margin-top: 15px;
}

#back-detail-barang-btn a {
    text-decoration: none;
    color: white;
}

#update-session-wrapper {
    justify-content: center;
}

.nav li a:hover {
    color: white;
}