* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: rgba(17, 200, 237, 0.75);
    display: flex;
    align-items: center;
    height: 50px;
}

#navbar img {
    height: 20px;
    width: 20px;
}

#logout {
    margin-left: auto;
}

#dropdown-logout {
    background-color: rgba(17, 200, 237, 0.75);
}

#logout a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logout button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navbar ul {
    overflow: hidden;
}

.nav li a {
    color: black;
    font-weight: bold;
}

#search-container .row {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

#search-container #search-form {
    display: flex;
}

#homeCategoryWrapper {
    align-self: flex-start;
    margin-left: 13px;
}

#homeCategoryWrapper select {
    width: 150px;
}

#categoryHome {
    border: 1px solid grey;
    border-radius: 5px;
}

#search-container #search {
    width: 600px;
    padding: 5px;
    justify-content: center;
    border-radius: 0.4rem 0 0 0.4rem;
    border-right: 0cm;
}

#search-btn {
    padding: 5px;
    border-radius: 0 0.4rem 0.4rem 0;
    margin-left: 0;
}

#prodcut-list {
    height: 100px;
    background-color: aqua;
}

#list-barang {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-barang {
    max-height: 400px;
}

#load-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

#detail-btn {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

#header-user-regis,
#header-shop-regis {
    padding-top: 10px;
}

/* style view pendaftaran/user.blade.php */
#header-user-regis {
    text-align: center;
}

#user-regis {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-user-regis {
    border: solid 1px black;
    border-radius: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

#form-user-regis form {
    margin: 20px;
    min-height: 400px;
}

#btn-group-user {
    display: flex;
    flex-direction: row-reverse;
}

#back-user-regis-btn {
    margin-right: 10px;
}

#back-user-regis-btn a {
    text-decoration: none;
    color: white;
}

/* style view login */

section {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.Container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.Form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.Form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.Form .inputBox input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.loginButtons {
    margin-top: 30px;
    float: right;
}

.loginButtons #back-login-btn a {
    color: black;
}

.loginButtons button {
    width: auto;
    margin: 0px 5px;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.loginButtons button:hover {
    background-color: white;
    font-weight: bold;
}

.loginButtons button a {
    color: black;
    text-decoration: none;
}

section .color {
    position: absolute;
    filter: blur(160px);
}

section .color:nth-child(1) {
    top: 100px;
    width: 100%;
    height: 50%;
    background: #ff359b;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 80px;
    width: 100%;
    height: 500px;
    background: #fffd87;
}

section .color:nth-child(3) {
    bottom: -40px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
}

section .color:nth-child(4) {
    top: 100px;
    left: -100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
}

/* #form-login {
    border: solid 1px;
    border-radius: 0.5rem;
    background-color: aqua;
}

#wrapper-form-login {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}

#form-login form {
    margin: 20px 0;
    align-items: center;
}

#form-login h1 {
    text-align: center;
    margin-top: 5px;
} */

/* style untuk halaman profile */
#photo-profile img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
}

#input-file-btn {
    position: absolute;
    bottom: -10px;
    right: 67px;
}

#profile-wrapper {
    margin: 0 0 20px 0;
    min-height: 500px;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

#group-btn-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-right: 180px;
}

#group-btn-profile button {
    height: 50px;
    width: 100px;
    margin: 10px;
}

#profile-wrapper .col-4 {
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    /* border: solid 1px black; */
    margin-right: 20px;
}

#photo-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#profile-datas .input-group-text {
    width: 130px;
}

#profile-datas .card {
    text-align: center;
}

.card {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13), -5px 0 20px rgba(0, 0, 0, 0.13);
}

/* style untuk halaman admin */
#wrapper-admin-content {
    margin-bottom: 50px;
    height: 450px;
    background-color: aqua;
}

#admin-sidebar {
    width: 200px;
    height: 100px;
    background-color: #00118f;
    float: left;
}

/* Style untuk halaman detail barang */
#col-barang {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

#wrapper-detail-barang {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background-color: aqua; */
}

#paragraf-detail-barang {
    min-height: 200px;
    overflow-y: auto;
    background-color: white;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

#btn-kurang-barang,
#btn-tambah-barang {
    width: 40px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 50%;
}

#btn-kurang-barang img,
#btn-tambah-barang img {
    width: 40px;
    height: 40px;
}

#total-barang-beli {
    height: 40px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    border-color: grey;
    border-radius: 5px;
    /* margin: 0 7px; */
    border: 0;
}

#modalPembayaran .modal-body label {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
    margin-right: 15px;
    float: left;
}

#modalPembayaran .modal-body input {
    height: 30px;
    width: 300px;
    /* border: solid 1px black; */
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px;
    text-justify: auto;
}

#form-pembayaran {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align: center;
}

#col-barang {
    display: flex;
    flex-direction: column;
}

#detail-barang .input-group-text {
    width: 120px;
}

#detail {
    overflow-y: scroll;
    width: 100%;
}

/* style untuk gambar detail yang udah bisa scroll horizontal */
/* #detail-images-collection {
    width: 500px;
    height: 100px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#detail-images-collection .box {
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

#detail-images-collection .box img{
    height: 100%;
    width: 100%;
} */

#detail-images-collection {
    height: 150px;
    /* margin: auto; */
    margin-left: 0;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow-x: scroll;
}

#sliderTrack {
    display: flex;
    /* animation: scroll 15s linear infinite; */
}

#detail-images-collection #sliderTrack .box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    perspective: 100px;
}

#gambar-utama-detail-barang {
    border: solid 1px white;
    border-radius: 5px;
}

#detail-images-collection #sliderTrack .box img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    border: solid 1px grey;
    border-radius: 5px;
}

#detail-images-collection #sliderTrack .box img:hover {
    transform: translateZ(20px);
}

#sliderTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px *4));
    }
}

#back-detail-barang-btn {
    float: right;
    margin-right: -1px;
    /* margin-top: 15px; */
    color: azure;
}

#back-detail-barang-btn a {
    text-decoration: none;
    color: white;
}

#btn-beli {
    margin-right: 10px;
    float: right;
    color: azure;
    width: 60px;
}

#update-session-wrapper {
    justify-content: center;
}

/* style untuk halaman dashboardToko */
#wrapper-dashboard-toko {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category {
    width: 130px;
}

#myTable thead th {
    text-align: center;
    border: solid 1px black;
}

#tabel-pembelian thead th {
    text-align: center;
    border: solid 1px black;
}

td,
tr {
    border: solid 1px black;
}

/* .show {
    width: 1000px;
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
} */


.nav li a:hover {
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}